<%= form_for(@druzyna) do |f| %>
  <% if @druzyna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@druzyna.errors.count, "error") %> prohibited this druzyna from being saved:</h2>

      <ul>
      <% @druzyna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %><br>
    <%= f.text_field :nazwa %>
  </div>
  <div class="field">
    <%= f.label :miasto_pochodzenia %><br>
    <%= f.text_field :miasto_pochodzenia %>
  </div>
  <div class="field">
    <%= f.label :nazwisko_trenera %><br>
    <%= f.text_field :nazwisko_trenera %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
