<body background="/assets/tlo.jpg">
<center>
<img src="/assets/logo.jpg"/>
<br />
<br />
<a href="pilkarzs"><img src="/assets/pilkarze.jpg" width="150" height="50" /></a>
<a href="druzynas"><img src="/assets/druzyny.jpg" width="150" height="50" /></a>
<a href="meczs"><img src="/assets/ranking.jpg" width="150" height="50" /></a>
<a href="szczegoly_wydarzenia"><img src="/assets/szczegoly.jpg" width="150" height="50" /></a>
<br />
<br />
<br />
</center>
<table align = "center" border = "3">
  <thead>
    <tr>
      <th bgcolor="ADC666">Nazwa</th>
      <th bgcolor="ADC666">Miasto pochodzenia</th>
      <th bgcolor="ADC666">Nazwisko trenera</th>
      <th bgcolor="ADC666">Edycja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @druzynas.each do |druzyna| %>
      <tr bgcolor="white">
        <td align="center"><%= druzyna.nazwa %></td>
        <td align="center"><%= druzyna.miasto_pochodzenia %></td>
        <td align="center"><%= druzyna.nazwisko_trenera %></td>
        <td align="center"><%= link_to 'Pokaż', druzyna %>
        <%= link_to 'Edytuj', edit_druzyna_path(druzyna) %>
        <%= link_to 'Usuń', druzyna, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa drużyna', new_druzyna_path %>
<br />
</body>
